{OVERALL_HEADER}<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><br><br>      
      <form name="form1" method="post" action="">
      <div align="center"><span class="normal">{LANG_SURECLOSE}</span><br>
          <input type="submit" name="Submit" value="{LANG_YESSURE}" class="normal">
          <input name="id" type="hidden" id="id" value="{ID}">
		  <input name="type" type="hidden" id="type" value="{TYPE}">    
        </div>
    </form>    
      <br></td>
  </tr>
</table>
{OVERALL_FOOTER}