<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="18" bgcolor="#e0e0e0" align="center"> <font color="#FFFFFF"> <a href="{SITE_URL}html.php?id=privacy" class="white">{LANG_PRIVACY}</a> - <a href="{SITE_URL}html.php?id=terms" class="white">{LANG_TERMS}</a> - <a href="{SITE_URL}report.php" class="white">{LANG_REPVIOL}</a> - <a href="{SITE_URL}contact.php" class="white">{LANG_CONTACT}</a> - <a href="{SITE_URL}faq.php" class="white">{LANG_FAQ}</a> </font> </td>
  </tr>
  <tr>
    <td align="center" style="padding:10px;" class="copyright">{LANG_POWEREDBY} <a href="http://www.technotrix.co.in" class="copyright" target="_blank">Technotrix</a></td>
  </tr>
</table>
</body>
</html>