{OVERALL_HEADER}<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr class="normal">
    <td valign="top"><br>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="150" valign="top"><table width="95%"  border="0" cellspacing="0" cellpadding="4">
             <tr>
                <td>- <a href="manage.php">{LANG_MANAGEACC}</a></td>
             </tr>
            <tr>
              <td>- <a href="profile_edit.php">{LANG_EDITPROF}</a></td>
            </tr>
            <tr>
              <td>- <a href="deposit.php">{LANG_DEPOSIT}</a></td>
            </tr>
            <tr>
              <td>- <a href="withdraw.php">{LANG_WITHDRAW}</a></td>
            </tr>
            <tr>
              <td>- <a href="transfer.php">{LANG_TRANSFERM}</a></td>
            </tr>
            <tr>
              <td>- <a href="escrow.php">{LANG_ESCROWM}</a></td>
            </tr>
            <tr>
              <td>- <a href="upgrade.php">{LANG_UPGRADES}</a></td>
            </tr>
            <tr>
              <td>- <a href="transactions.php">{LANG_TRANSLOG}</a></td>
            </tr>
          </table></td>
            <td><form action="profile_edit.php" method="post" enctype="multipart/form-data" name="form1"><table  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="normal"><strong>{LANG_USERNAME}</strong><br>
      {USERNAME}<br>
      <br>
      <strong>{LANG_NAMECOM}</strong><br>
      <input name="name" type="text" id="name" value="{NAME}">
      <br>
      <br>
      <strong>{LANG_EMAIL}</strong><br>
      <input name="email" type="text" id="email" value="{EMAIL}">
      <br>
      <br>
	  IF("{LANG_SEL}"=="1"){
      <strong>{LANG_LANGUAGE}</strong><br>
      <select name="lang" id="lang">
	  {LOOP: LANGS}
	  <option value="{LANGS.value}" {LANGS.selected}>{LANGS.name}</option>
	  {/LOOP: LANGS}
      </select>
      <br>
      <br>{:IF}
	  IF("{PAY_TYPE}"=="1"){<strong>{LANG_PAYPALADDR}</strong><br>
	  <input name="paypal" type="text" id="paypal" value="{PAYPAL}">
      <br>
      <br>{:IF}
      <strong>{LANG_AREAOF}</strong><br>
	  <table border="0" cellpadding="0" cellspacing="0">
      {LOOP: JOBTYPE}
	  IF("{JOBTYPE.catcount}"=="0"){<tr><td align="left"><input type="checkbox" name="jobtype[{JOBTYPE.id}]" value="{JOBTYPE.id}"  {JOBTYPE.selectedval}></td><td>{JOBTYPE.title}</td></tr>{:IF}
      IF("{JOBTYPE.catcount}"!="0"){<tr><td colspan="2"><strong>{JOBTYPE.title}</strong></td></tr>{:IF}
      {/LOOP: JOBTYPE}</table>
      <br>
      <strong>{LANG_AVGHOURLY}</strong><br>
      {CURRENCY_SIGN}
      <input name="rate" type="text" size="5" value="{RATE}">
      /hour<br>
      <br>
      <strong>{LANG_YOURPROFILE}</strong><br>
      <textarea name="profile" cols="50" rows="7" id="textarea">{PROFILE}</textarea>
      <br>
      <br>
      <strong>{LANG_PICTURE}</strong><strong> (<span class="style2">{LANG_REPLACEPIC}</span>)</strong><br>
	  IF("{PICTYPE}"!=""){<br><img src="attachment.php?type=image&id={PROVIDER_ID}"><br><br>{:IF}
      <input type="file" name="picture">
      <br>
      <br>
      <input name="notify" type="checkbox" id="notify" value="1" IF("{NOTIFY}"=="1"){checked{:IF}>
      {LANG_NOTIFYEMAIL}<br>
      <br>
 
{LOOP: CUSTOMFIELDS}
<strong>{CUSTOMFIELDS.title}</strong><br />
          IF("{CUSTOMFIELDS.type}"=="text"){<input name="custom[{CUSTOMFIELDS.id}]" type="text" id="custom[{CUSTOMFIELDS.id}]" size="30" maxlength="{CUSTOMFIELDS.maxlength}" value="{CUSTOMFIELDS.default}">{:IF}
          IF("{CUSTOMFIELDS.type}"=="select"){{CUSTOMFIELDS.selectbox}{:IF}
<br /><br />
        {/LOOP: CUSTOMFIELDS}
 
 
      <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
      <input type="submit" name="Submit" value="{LANG_UPDATEDET}">
      <br>
      <br>
      </td>
              </tr>
            </table>      </form></td>
          </tr>
        </table>

    </td>
  </tr>
</table>
{OVERALL_FOOTER}