{OVERALL_HEADER}<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><br>
      <table width="780" border="0" cellspacing="0" cellpadding="0">
{LOOP: QUOTES}
      <tr>
        <td class="quotes">&quot;{QUOTES.quote}&quot; - {QUOTES.author}</td>
      </tr>
      <tr>
        <td background="templates/{TPL_NAME}/images/hline_dot.gif" height="1"></td>
      </tr>
{/LOOP: QUOTES}
    </table>    <br></td>
  </tr>
</table>
{OVERALL_FOOTER}
