<div class="title2"
	style="font-size: 13px; font-weight: bold; padding: 4px;">
<div style="float: left; padding: 4px;">{SITENAME} &gt; Signup &gt;
Activation</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div style="clear: both; padding: 10px; font-size: 15px;">
<div class="title2"><strong>Account activated
successfully</strong></div>
<p>Thank you for activating your account. You can now post an ad by
clicking <a href="{site_url}/listings/add/" class="green"><strong>here</strong></a>.</p>
</div>
