<form action="{site_url}/reviews/save" method="post">
<div class="date_title" style="margin-top: 10px; margin-bottom: 40px;">Post
your review</div>
<table width="450" border="0" align="center" cellpadding="10"
	cellspacing="0">
	<tr>
		<td width="22%" valign="top"><strong>Rating</strong></td>
		<td width="78%" valign="top"><select name="rating" id="rating"
			style="width: 300px;">
			<option value="10">10 - Excellent</option>
			<option value="9">9</option>
			<option value="8">8</option>
			<option value="7">7</option>
			<option value="6">6</option>
			<option value="5">5</option>
			<option value="4">4</option>
			<option value="3">3</option>
			<option value="2">2</option>
			<option value="1">1 - Horrible</option>
		</select></td>
	</tr>
	<tr>
		<td valign="top"><strong>Review <input type="hidden"
			name="user" id="hiddenField" value="{user}"> </strong></td>
		<td valign="top"><textarea name="body" id="body" cols="45"
			rows="10" style="width: 300px;"></textarea></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="button" id="button"
			value="  Review  "></td>
	</tr>
</table>
</form>