<form action="{site_url}/listings/contact_send" method="post">
<p>&nbsp;</p>
<table width="450" border="0" align="center" cellpadding="10"
	cellspacing="0">
	<tr>
		<td width="22%" valign="top"><strong>Name</strong></td>
		<td width="78%" valign="top"><input type="text" name="name"
			id="name" style="width: 300px;"></td>
	</tr>
	<tr>
		<td valign="top"><strong>Email</strong></td>
		<td valign="top"><input type="text" name="email" id="email"
			style="width: 300px;"></td>
	</tr>
	<tr>
		<td valign="top"><strong>Message <input type="hidden"
			name="id" id="hiddenField" value="{id}"> </strong></td>
		<td valign="top"><textarea name="body" id="body" cols="45"
			rows="10" style="width: 300px;"></textarea></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="button" id="button"
			value="  Send  "></td>
	</tr>
</table>
<p>&nbsp;</p>
<div align="center"></div>
<div align="center"></div>
</form>