<div class="title2"
	style="font-size: 13px; font-weight: bold; padding: 4px;">
<div style="float: left; padding: 4px;">Post an Ad &gt;
{city_name} &gt; {category_name}</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div style="clear: both; padding: 10px; font-size: 15px;">
<div class="title2"><strong>Listing posted successfully</strong></div>
<p>Thank you for posting your ad, it will be shown on the site
within the next few minutes.</p>
<p>You can see your ad <a href="{site_url}/listings/details/{id}"
	class="green"><strong>here</strong></a></p>
</div>
