<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Welcome</title>
<link href="{base_url}style/style.css" type="text/css" rel="stylesheet" />
<link href="{base_url}style/nyroModal.css" type="text/css" rel="stylesheet" />
<script src="{base_url}js/jquery.js" type="text/javascript"></script>
<script src="{base_url}js/general.js" type="text/javascript"></script>
<script src="{base_url}js/jquery.nyroModal-1.2.4.pack.js" type="text/javascript"></script>
</head>
<body>
{content}
</body>
</html>
