
<form action="{site_url}/admin/newsletter/" method="post"
	style="padding: 20px;">
<div class="gray_box listing_body">
<table width="95%" border="0" cellspacing="0" cellpadding="4">
	<tr class="listing_body">
		<td><strong>Subject:</strong></td>
	</tr>
	<tr>
		<td><input name="subject" type="text" id="subject"
			style="width: 90%;" size="" /></td>
	</tr>
	<tr class="listing_body">
		<td><strong>Body:</strong></td>
	</tr>
	<tr>
		<td><textarea name="body" id="body" cols="45" rows="20"
			style="width: 90%;">{ns_content}</textarea></td>
	</tr>
	<tr>
		<td style="color: #FF0000; font-weight: bold;">&nbsp;</td>
	</tr>
	<tr>
		<td><input name="submit" type="submit" value="  Send  "
			class="green_button" /></td>
	</tr>
</table>
</div>



</form>
