<div class="title2"
	style="font-size: 13px; font-weight: bold; padding: 4px;">
<div style="float: left; padding: 4px;">{SITENAME} &gt; Signup &gt;
Pay</div>
</div>
<div style="clear: both;">&nbsp;</div>
<div style="clear: both; padding: 10px; font-size: 15px;">
<div class="title2"><strong>Please click the button below
in order to pay the ${price} for your listing</strong></div>
<p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick"> <input
	type="hidden" name="business" value="username@email.com"> <input
	type="hidden" name="item_name" value="Listing #{uid}"> <input
	type="hidden" name="item_number" value="{uid}"> <input
	type="hidden" name="amount" value="{price}"> <input
	type="hidden" name="return" value="{site_url}/listings/finish/{uid}/ok">
<input type="hidden" name="cancel_return"
	value="{site_url}/listings/finish/{uid}/failed" /> <input type="hidden"
	name="notify_url" value="{site_url}/paypalnotify.php" /> <input
	type="hidden" name="no_shipping" value="0"> <input
	type="hidden" name="no_note" value="1"> <input type="hidden"
	name="currency_code" value="USD"> <input type="hidden"
	name="lc" value="US"> <input type="hidden" name="bn"
	value="PP-BuyNowBF"> <input type="image" name="imageField"
	id="imageField"
	src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" /></form>
</p>
</div>
