<h1><strong>Terms of Use</strong></h1>
<a target="_blank" href="{base_url}">{SITENAME}</a>
web site ("Site") contains content that is provided as a service to
users who agree to abide by the following acceptable conduct terms. Your
right to use the Site is governed by these Terms of Use and our <a
	href="{base_url}/Privacy">Privacy
Policy </a>(collectively, "Terms") and you should take the time to review
both carefully before you use the Site. By using the Site in any way,
you are agreeing to comply with these Terms.</p>
<p>Please report any violations of these Terms to: <u>support@{SITENAME}</u></p>